* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {
    --bg-color: #F9FFFD;
    --color: #141414;
    --middle-text: #474747;
    background-color: var(--bg-color);

}

body.dark {
    --bg-color: #141414;
    --color: #F9FFFD;
    --middle-text: #e3e3e3;
    background-color: var(--bg-color);
}


a {
    text-decoration: none;
    color: var(--color);
}






li {
    list-style: none;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}



// Header

.header {

    padding: 10px 0px;

    &__container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    &__line {
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--color);
        margin-left: 25px;
        margin-right: 25px;
    }


    &__logo {
        display: flex;
        align-items: center;
        border: 1px solid var(--color);
        border-radius: 5px;
        padding: 2px 5px;

        .logo {
            color: var(--color);
        }

        h1 {
            font-weight: 400;
            color: var(--color);
        }
    }


    &__navigation {
        display: flex;

        ul {
            display: flex;
            column-gap: 25px;
        }
    }

    &__darkmode {
        margin-left: 30px;


        .darkmode__block {
            position: relative;
            display: flex;
            align-items: center;
            border: 1px solid var(--color);
            border-radius: 20px;
            padding: 4px 8px;

            .darkmode__switch {
                color: var(--color);


                .moon {
                    color : #fff;
                }
            }


            .darkmode__switcher {
                content: '';
                width: 32px;
                height: 32px;
                background-color: var(--color);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 3px;
                transform: translateY(-50%);
                transition: left 0.5s ease-in-out;
            }


            .darkmode__switcher.swipe {
                left: 37px;
            }

        }


    }


    &__auth {
        display: flex;
        flex-shrink: 0;
        column-gap: 15px;
        align-items: center;

        .header__sighup {
            cursor: pointer;
            color: var(--color);
            border: 1px solid var(--color);
            padding: 5px 5px;
            border-radius: 5px;


        }

        .header__sighup:hover {
            background-color: var(--color);
            color: var(--bg-color);
            border: 1px solid var(--bg-color);

        }



        .header__login {
            color: var(--color)
        }


    }








}


// main


.main {
    margin-top: 60px;


    &__content {
        overflow: hidden;
        position: relative;
        display: flex;
        margin-left: -30px;
        margin-right: -30px;
        position: relative;
        background-image: url('/static/24248.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        border-radius: 0px 0px 15px 15px;




    }

    &__container {
        padding-left: 30px;
        padding-right: 30px;
        flex: 1;
    }


    &__text-up {
        position: relative;
        z-index: 20;
        color: var(--color);
        font-weight: 400;
        font-size: 2.7rem;
        margin-bottom: -20px;
    }


    &__text-middle {
        position: relative;
        top: 0;
        left: 0;
        font-weight: 700;
        font-size: 15rem;
        width: 100%;
        color: var(--middle-text);

        mix-blend-mode: hard-light;




    }

    &__text-middle::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 60px);
        height: 50%;
        background: var(--bg-color);
        mix-blend-mode: color;
        margin-left: -30px;

    }





    &__text-little {
        font-weight: 400;
        font-size: 1.2rem;
        max-width: 440px;
        width: 100%;
        color: #F9FFFD;
    }



    &__footer {
        position: absolute;
        color: var(--bg-color);
        padding-left: 30px;
        padding-right: 30px;
        bottom: 20px;
        display: flex;
        font-weight: 300;
        column-gap: 30px;

        span {
            font-size: 1.3rem
        }

        span::after {
            position: absolute;
            content: '';
            width: 1px;
            margin-left: 7px;
            height: calc(100% + 20px);
            background-color: #F9FFFD;

        }

        p {
            font-size: 1.3rem
        }
    }

    .footer {

        &__view {
            cursor: pointer;
            position: relative;
            display: flex;
            column-gap: 15px;
            max-width: 300px;
            width: 100%;
            top: 100px;
            transition: top 0.8s ease-in-out;
            color: #F9FFFD;

            .view__title {
                font-weight: 400;
                margin-bottom: 20px;

            }










        }


        &__view:hover {
            top: 0px;
        }










    }
}



.social {


    &__container {
        position: absolute;
        bottom: 15px;
        right: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;


        svg {
            cursor: pointer;
            border: 1px solid #fff;
            padding: 10px;
            border-radius: 5px;
            color : #fff;
            fill: #fff;

        }
    }


}